# Byte-compiled / optimized / ambient files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Environments & Virtual Envs
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# OS and IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Large output files / caches (optional, keep dat/vtk tracked if explicitly needed)
*.log
